@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");

:root { 
  /* styles */
  --font-heading: "Inter";
  --font-body: "Roboto";     
  --heading-font-size: clamp(2rem, 3vw, 5vh);
  --subheading-font-size: clamp(1.5rem, 2vw, 3vh);
  --h1-font-size: clamp(1.3rem, 1.6vw, 2vh);
  --h2-font-size: clamp(1.1rem, 1.3vw, 2vh);
  --p-font-size: clamp(0.8rem, 1.3vw, 2vh);
  --h3-font-size: clamp(0.8rem, 1.3vw, 1.8vh);
  --h5-font-size: clamp(0.8rem, 1.3vw, 1.6vh);
  --h6-font-size: clamp(0.5rem, 0.8rem, 1rem);
  --h7-font-size: clamp(0.5rem, 0.7rem, 0.9rem);
  --body-font-size:  clamp(0.8rem, 1.3vw, 1.6vh);
  --corner-rounding: 15px;       
  --info: rgba(46, 158, 162, 0.3);
  --success: #2e9fa2;
  --warning: #e29853;
  --danger: #e82963; 
  --success-transparent: rgba(46, 158, 162, 0.5);
  --warning-transparent: rgba(226, 152, 83, 0.5);
  --danger-transparent: rgba(232, 41, 98, 0.5); 
  --beginner: #7E8A91;
  --novice: #C0583E ;
  --intermediate: #9DADD1;
  --expert: #CD8A4B; 
  --master: #F5B754;
  --boundingbox: #c7fc00;
  /* themes */
  --bg: #fff7f3;
  --bg-color: #fff7f3;
  --bg-header: #e82963;
  --bg-footer: #e82963;
  --sidebar: #ffffff;
  --card-color: #ffffff;
  --feed-toggle: none;
  --mark: rgba(46, 158, 162, 0.3);
  --errormark: rgba(232, 41, 98, 0.2);
  --bg-transparent: rgba(19, 20, 24, 0.5);  
  /* colors */
  --light: #ffffff;
  --light-accent: #fff7f3;  
  --dark: #1d1e24;
  --dark-accent: #131418;  
  --border-color: #F1C0C6; 
  /* text */        
  --link-color: #6e7b8d;    
  --link-hover-color: #2e9fa2; 
  --muted-color: #8f8f8f;   
  --muted: rgba(152, 152, 152, 0.3);
  /* accents */    
  --accent1: #e82963;
  --accent2: #289396;
  --accent3: #e29853; /*#6e7b8d*/
  --accent4: #332f55;
  /*  */
  --color1: #ffffff;
  --color2: #ffffff;
  --color3: #ffffff;
  --color4: #1d1e24;
  --color5: #1d1e24;
  --color6: #1d1e24;
  
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231d1e24'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e82963'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");    
}

.dark-mode {
  --bg: #131418;
  --bg-color: #131418;
  --bg-header: #2e9fa2;
  --bg-footer: #2e9fa2;
  --sidebar: #1d1e24;
  --card-color: #1d1e24;
  --feed-toggle: none;
  --mark: rgba(232, 41, 98, 0.3);
  /* colors */
  --light: #1d1e24;
  --light-accent: #131418;
  --dark: #ffffff;
  --dark-accent: #fff7f3;
  --border-color: #2e9fa2;
  /* text */        
  --link-color: #6e7b8d;    
  --link-hover-color: #2e9fa2; 
  --muted: rgba(96, 96, 96, 0.3);
  /* accents */    
  --accent1: #2e9fa2;
  --accent2: #e82963;
  --accent3: #e29853;
  --accent4: #6e7b8d;
  /*  */
  --color1: #1d1e24;
  --color2: #1d1e24;
  --color3: #1d1e24;
  --color4: #ffffff;
  --color5: #ffffff;
  --color6: #ffffff;
}

.newyear-mode {
  --bg: linear-gradient(139deg, rgba(0,1,31,1) 0%, rgba(33,0,51,1) 22%, rgba(41,21,0,1) 53%, rgba(27,0,30,1) 82%, rgba(20,0,40,1) 100%);
  --bg-color: rgb(0,1,31);
  --bg-header: #190828;
  --bg-footer: #f3ad4d;
  --sidebar: #190828 url('https://www.toptal.com/designers/subtlepatterns/uploads/darkness.png');
  --card-color: #190828;
  --feed-toggle: none;
  --mark: rgba(148, 86, 201, 0.3);
  /* colors */
  --light: #1d1e24;
  --light-accent: #131418;
  --dark: #ffffff;
  --dark-accent: #fff7f3;
  --border-color: #5e298d;
  /* text */        
  --link-color: #6e7b8d;    
  --link-hover-color: #f68636;
  --muted: rgba(96, 96, 96, 0.3);
  /* accents */    
  --accent1: #ffe837;
  --accent2: #f59433;
  --accent3: #ff4177;
  --accent4: #e564ff;
  /*  */
  --color1: #f3ad4d;
  --color2: #ffd24d;
  --color3: #ffdf7d;
  --color4: #f3ad4d;
  --color5: #ffd24d;
  --color6: #ffdf7d;
  --colorsplotch: #ffdf7d;
}

.valentines-mode {
  --bg: #fee1d4;
  --bg-color: #fee1d4;
  --bg-header: #ff5d78;
  --bg-footer: #a80838;
  --sidebar: #fee1d4 url('https://www.toptal.com/designers/subtlepatterns/uploads/sakura.png');
  --card-color: #ffffff;
  --feed-toggle: none;
  --mark: rgba(255, 93, 120, 0.3);
	/* colors */  
  --light: #ffffff;
  --light-accent: #fff7f3;
  --dark: #1d1e24;
  --dark-accent: #131418;
  --border-color: #F1C0C6;
  /* text */        
  --link-color: #6e7b8d;    
  --link-hover-color: #e82963; 
  --muted: rgba(152, 152, 152, 0.3);
  /* buttons */    
  --btn-primary-color: #332f55; 
  --btn-text-primary-color: #ffffff;
  --btn-secondary-color: #e82963; 
  --btn-text-secondary-color: #ffffff;
  /* accents */    
  --accent1: #a80838;
  --accent2: #ff5d78;
  --accent3: #e37e8f; /*#6e7b8d*/
  --accent4: rgb(208, 72, 113);
  /*  */
  --color1: #ffffff;
  --color2: #ffffff;
  --color3: #ffffff;
  --color4: #a80838;
  --color5: #e82963;
  --color6: rgb(208, 72, 113);
  --colorsplotch: #e82963;
}

.pride-mode {
  --bg: linear-gradient(122deg, rgba(255,218,218,1) 0%, rgba(255,247,216,1) 50%, rgba(220,236,255,1) 100%);
  --bg-color: linear-gradient(122deg, rgba(255,218,218,1) 0%, rgba(255,247,216,1) 50%, rgba(220,236,255,1) 100%);
  --bg-header: #ffe6d9;
  --bg-footer: #e07511;
  --sidebar: linear-gradient(122deg, rgba(255,218,218,1) 0%, rgba(255,247,216,1) 50%, rgba(220,236,255,1) 100%);
  --card-color: #ffffff;
  --feed-toggle: none;
  --mark: rgba(224, 117, 17, 0.3);
	/* colors */  
  --light: #ffffff;
  --light-accent: #fff7f3;
  --dark: #1d1e24;
  --dark-accent: #131418;
  --border-color: #F1C0C6;
  /* text */        
  --link-color: #6e7b8d;    
  --link-hover-color: #2e9fa2; 
  --muted: rgba(152, 152, 152, 0.3);
  /* buttons */    
  --btn-primary-color: #332f55; 
  --btn-text-primary-color: #ffffff;
  --btn-secondary-color: #e82963; 
  --btn-text-secondary-color: #ffffff;
  /* accents */    
  --accent1: #e82963;
  --accent2: #295d78;
  --accent3: #e07511; /*#6e7b8d*/
  --accent4: #332f55;
  /*  */
  --color1: #e82963;
  --color2: #295d78;
  --color3: #e07511;
  --color4: #e82963;
  --color5: #295d78;
  --color6: #e07511;
  --colorsplotch: #e07511;
}

.halloween-mode {
  --bg: #0e001a;
  --bg-color: #0e001a;
  --bg-header: #190828;
  --bg-footer: #6dc61f;
  --sidebar: #251136 url('https://static.tumblr.com/e240670e3f9b436229a0f56090743324/rya7qzp/QW9pya2xg/tumblr_static_d2hog66a5lc8co4cwsgcgs4k.png');
  --card-color: #251136;
  --feed-toggle: none;
  --mark: rgba(109, 198, 31, 0.3);  
  /* colors */
  --light: #1d1e24;
  --light-accent: #131418;
  --dark: #ffffff;
  --dark-accent: #fff7f3;
  --border-color: #5e298d;
  /* text */        
  --link-color: #6e7b8d;    
  --link-hover-color: #f68636;
  --muted: rgba(96, 96, 96, 0.3);
  /* accents */    
  --accent1: #f68636;
  --accent2: #b379e8;
  --accent3: #be812d;
  --accent4: #22b47c;
  /*  */
  --color1: #00d03b;
  --color2: #22b47c;
  --color3: #6dc61f;
  --color4: #00d03b;
  --color5: #22b47c;
  --color6: #6dc61f;
  --colorsplotch: #d39727;
}

.christmas-mode {
  --bg: #fff8e8;
  --bg-color: #fff8e8;
  --bg-header: #bc4749;
  --bg-footer: #bc4749;
  --sidebar: rgb(255, 243, 215);
  --card-color: #ffffff;
  --feed-toggle: #fff8e8;
  --mark: rgba(106, 153, 78, 0.3);
  /* colors */
  --light: #ffffff;
  --light-accent: #f2e8cf;
  --dark: #1d1e24;
  --dark-accent: #131418;
  --border-color: #f1c21a;
  /* text */        
  --link-color: #6e7b8d;    
  --link-hover-color: #2e9fa2; 
  --muted: rgba(152, 152, 152, 0.3);  
  /* accents */    
  --accent1: #6a994e;
  --accent2: #d39727  ;
  --accent3: #bc4749; /*#6e7b8d*/
  --accent4: #6a994e;
  /*  */
  --color1: #ffffff;
  --color2: #ffffff;
  --color3: #ffffff;
  --color4: #bc4749;
  --color5: #bc4749;
  --color6: #6a994e;
  --colorsplotch: #d39727;
}

/* profile theme *************************************************/
:root { 
  --profile-icon-frame: var(--light);
  --profile-hover: var(--accent1);
  --profile-button: var(--accent1);
  --profile-link: var(--accent1);
}

.accent-1 {
  --profile-icon-frame: #f8312f;
  --profile-hover: #f8312f;
  --profile-button: #f8312f;
  --profile-link: #f8312f;
}

.accent-2 {
  --profile-icon-frame: #ff6723;
  --profile-hover: #ff6723;
  --profile-button: #ff6723;
  --profile-link:  #ff6723;
}

.accent-3 {
  --profile-icon-frame: #fcd53f;
  --profile-hover: #fcd53f;
  --profile-button: #fcd53f;
  --profile-link: #fcd53f;
}

.accent-4 {
  --profile-icon-frame: #00d26a;
  --profile-hover: #00d26a;
  --profile-button: #00d26a;
  --profile-link: #00d26a;
}

.accent-5 {
  --profile-icon-frame: #0074ba;
  --profile-hover: #0074ba;
  --profile-button: #0074ba;
  --profile-link: #0074ba;
}

.accent-6 {
  --profile-icon-frame: #8d65c5;
  --profile-hover: #8d65c5;
  --profile-button: #8d65c5;
  --profile-link: #8d65c5;
}

.accent-7 {
  --profile-icon-frame: #000;
  --profile-hover: #000;
  --profile-button: #000;
  --profile-link: #000;
}


/* theme preview */
.theme-preview {
  --accent1: #e82963;
  --accent2: #2e9fa2;
  --accent3: #e29853;
  --accent4: #332f55;
  
  --dark: #1d1e24; /* text */
  --muted-color: #8f8f8f; /* secondary */
  --links: #e82963; /* links */
  --muted: #9898984d; /* muted */
  
  --light-accent: #fff7f3; /* background */
  --light: #ffffff; /* card background */
  --bg-header: #e82963; /* header */
  --border-color: #F1C0C6; /* border */
}

.theme-preview-dark {
  --accent1: #2e9fa2;
  --accent2: #e82963;
  --accent3: #e29853;
  --accent4: #6e7b8d;
  
  --dark: #ffffff; /* text */
  --muted-color: #8f8f8f; /* secondary */
  --links: #2e9fa2; /* links */
  --muted: rgba(96, 96, 96, 0.3); /* muted */
  
  --light-accent: #131418; /* background */
  --light: #1d1e24; /* card background */
  --bg-header: #2e9fa2; /* header */
  --border-color: #2e9fa2; /* border */
}


