<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#2E9FA2" />
    <meta name="description"
        content="The ultimate crafting companion! Share, challenge, and organize your crochet projects and materials, all in one convenient platform. Embrace creativity with ease, anytime, anywhere!">
    <title>Library – ArtisanAI</title>

    <!-- Other common head elements here -->
    <!-- favicon -->
    <link rel="icon" href="../images/favicon.ico" type="image/png" />
    <!-- bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/03977197ef.js" crossorigin="anonymous"></script>
    <!-- styles -->
    <link href="../css/include.css" rel="stylesheet" />
    <link href="../css/themes.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!-- start -->

    <!-- end -->
</head>

<body>
    <!--header-->
    <nav class="navbar sticky-top">
        <div class="container-fluid">
            <!--toggle-->

            <button class="navbar-toggler me-4" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <i class="fas fa-bars" title="Menu"></i>
            </button>
            <!--brand-->
            <a class="navbar-brand" href="feed.html">
                <span class="brand-ai">
                    <span class="brand-artisan"> <span class="color1">A</span><span class="color2">r</span><span
                            class="color3">t</span><span class="color1">i</span><span class="color2">s</span><span
                            class="color3">a</span><span class="color1">n</span><span
                            class="color2 brand-ai">AI</span></span>
                </span>
            </a>

            <div>
                <span class="profile-dropdown-group">
                    <button type="button" class="btn profilebtn usericonframe" data-bs-toggle="dropdown"
                        aria-expanded="false">

                        <a class="profile" href="profile.html" title="Profile"> <!-- add URL -->
                            <img id="usericon" class="object-fit-cover"
                                src="https://cdn.picrew.me/app/image_maker/696219/icon_EZdOOG8uvorfZktG.png" />
                        </a>

                    </button>
                    <ul class="dropdown-menu dropdown-menu-end h3-size">
                        <li>
                            <a href="profile.html">
                                <button class="dropdown-item" type="button"><i class="fa-solid fa-user drop-icon"></i>
                                    Profile</button>
                            </a>
                        </li>
                        <li>
                            <a href="settings.html">
                                <button class="dropdown-item" type="button"><i class="fa-solid fa-gear drop-icon"></i>
                                    Settings</button>
                            </a>
                        </li>
                        <hr class="sidebar-divider m-1" />
                        <li>
                            <a href="login.html">
                                <button class="dropdown-item" type="button"><i
                                        class="fa-solid fa-right-from-bracket drop-icon"></i> Logout</button>
                            </a>
                        </li>
                    </ul>
                </span>
            </div>
            <!--sidebar-->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <button class="btn btnclose" type="button" data-bs-dismiss="offcanvas" aria-label="Close"
                        title="Close">
                        <i class="fa-solid fa-xmark" id="fa-xmark"></i>
                    </button>
                    <a href="search.html">
                        <button class="btn btnnotif" type="button" aria-label="Browse" title="Browse">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </a>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <!--sidebrand-->
                        <div class="d-flex justify-content-center mb-30">
                            <span class="brand-sidebar brand-ai">
                                <i class="fa-solid fa-splotch brand-splotch colorsplotch"></i>
                                <span class="brand-artisan"> <span class="color4">A</span><span
                                        class="color5">r</span><span class="color6">t</span><span
                                        class="color4">i</span><span class="color5">s</span><span
                                        class="color6">a</span><span class="color4">n</span><span
                                        class="color5 brand-ai">AI</span></span>
                            </span>
                        </div>
                        <!--sidelinks-->
                        <div class="section-navlink">
                            <li class="nav-item">
                                <!--add active class-->
                                <a class="nav-link" href="feed.html">
                                    <span>
                                        <i class="fa-solid fa-house navicon navicon1"></i>
                                        <span class="navname">Home<span>
                                            </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="library.html">
                                    <span>
                                        <i class="fa-solid fa-book-bookmark navicon navicon3"></i>
                                        <span class="navname">Library<span>
                                            </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="challenges_all.html">
                                    <span>
                                        <i class="fa-solid fa-chart-simple navicon navicon4"></i>
                                        <span class="navname">Challenges<span>
                                            </span>
                                </a>
                            </li>
                            <li class="nav-item mb-30">
                                <a class="nav-link" href="projects_all.html">
                                    <span>
                                        <i class="fa-solid fa-box-archive navicon navicon2"></i>
                                        <span class="navname">Projects<span>
                                            </span>
                                </a>
                            </li>

                        </div>

                        <!-- themes -->
                        <div class="d-flex justify-content-center label-sm">Theme</div>
                        <div class="d-flex justify-content-center">
                            <select id="themeSelect" style="font-family:'Verdana'">
                                <option value="light" data-mode="light" style="font-family:'Verdana';">🌤️ light
                                </option>
                                <option value="dark" style="font-family:'Verdana'">🌙 dark</option>
                                <option value="newyear" style="font-family:'Verdana'">🎆 new year</option>
                                <option value="valentines" style="font-family:'Verdana'">💘 valentine's</option>
                                <option value="pride" style="font-family:'Verdana'">🌈 pride</option>
                                <option value="halloween" style="font-family:'Verdana'">🎃 halloween</option>
                                <option value="christmas" style="font-family:'Verdana'">🎄 christmas</option>
                            </select>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!--floating navicons-->
    <div class="position-relative d-none d-xl-block">
        <div class="position-fixed d-flex justify-content-center align-items-center floating-nav-container">
            <div class="floating-nav-group">
                <li class="nav-item px-2 py-3">
                    <a href="feed.html" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="right"
                        data-bs-title="Home">
                        <i class="fa-solid fa-house floating-navicon navicon1"></i>
                    </a>
                </li>
                <li class="nav-item px-2 py-3">
                    <a href="library.html" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="right"
                        data-bs-title="Library">
                        <i class="fa-solid fa-book-bookmark floating-navicon navicon3"></i>
                    </a>
                </li>
                <li class="nav-item px-2 py-3">
                    <a href="challenges_all.html" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="right"
                        data-bs-title="Challenges">
                        <i class="fa-solid fa-chart-simple floating-navicon navicon4"></i>
                    </a>
                </li>
                <li class="nav-item px-2 py-3">
                    <a href="projects_all.html" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="right"
                        data-bs-title="Projects">
                        <i class="fa-solid fa-box-archive floating-navicon navicon2"></i>
                    </a>
                </li>
            </div>
        </div>
    </div>

    <!--content-->
    <section class="section-content">
        <!-- start -->
        <div class="content-wrapper d-flex justify-content-around">
            <!--feed toggle buttons-->
            <div class="content-wrapper-width__md">
                <div class="container-fluid">
                    <div>
                        <div class="d-flex flex-column justify-content-center pb-2">
                            <div class="row">
                                <div class="col d-flex flex-column flex-grow-1 justify-content-start align-items-start">
                                    <h2 class="page-header-title d-flex align-items-center w-100">
                                        <b class="me-1">Crochet</b> Library
                                    </h2>
                                    <div class="h3-size">
                                        Dive into the world of crochet! Discover various stitches, abbreviations,
                                        yarn materials, and crochet hooks.
                                        Browse by category and unlock endless creativity. 🧶✨
                                    </div>
                                </div>
                            </div>

                            <div class="row row-cols-1 row-cols-sm-2 g-2 mt-3">
                                <div class="col">
                                    <div class="card shadow h-100">
                                        <div class="card-body__library rounded">
                                            <div class="d-flex align-items-center library-header-card">
                                                <div class="">
                                                    <div class="row h-100">
                                                        <div class="col">
                                                            <div
                                                                class="library-icon accent-1-bg d-flex justify-content-center align-items-center">
                                                                <i class="fa-solid fa-hat-wizard"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div class="row">
                                                        <a class="col ms-3 library-item align-items-center"
                                                            href="#">
                                                            <h5>Stitches</h5>
                                                            <p>Common crochet stitches</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#">
                                                <div class="library-card-img d-flex align-items-center">
                                                    <img
                                                        src="https://sarahmaker.com/wp-content/uploads/2021/07/how-to-double-crochet-24-768x1024.jpg">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card shadow h-100">
                                        <div class="card-body__library rounded">
                                            <div class="d-flex align-items-center library-header-card">
                                                <div class="">
                                                    <div class="row h-100">
                                                        <div class="col">
                                                            <div
                                                                class="library-icon accent-2-bg d-flex justify-content-center align-items-center">
                                                                <i class="fa-solid fa-ice-cream"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div class="row">
                                                        <a class="col ms-3 library-item align-items-center"
                                                            href="#">
                                                            <h5>Abbreviations</h5>
                                                            <p>Abbreviations used in patterns</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#">
                                                <div class="library-card-img d-flex align-items-center">
                                                    <img
                                                        src="https://www.hoookedyarn.com/media/catalog/product/t/o/toscana_crochet_bag_by_ana_d_7__1.jpg?optimize=high&bg-color=255,255,255&fit=bounds&height=642&width=642&canvas=642:642">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card shadow h-100">
                                        <div class="card-body__library rounded">
                                            <div class="d-flex align-items-center library-header-card">
                                                <div class="">
                                                    <div class="row h-100">
                                                        <div class="col">
                                                            <div
                                                                class="library-icon accent-3-bg d-flex justify-content-center align-items-center">
                                                                <i class="fa-solid fa-bomb"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div class="row">
                                                        <a class="col ms-3 library-item align-items-center"
                                                            href="#">
                                                            <h5>Yarn Collection</h5>
                                                            <p>View the yarn collection</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#">
                                                <div class="library-card-img d-flex align-items-center">
                                                    <img
                                                        src="https://lirp.cdn-website.com/1e76cbb0/dms3rep/multi/opt/How+to+store+yarn+%283%29-1920w.jpg">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card shadow h-100">
                                        <div class="card-body__library rounded">
                                            <div class="d-flex align-items-center library-header-card">
                                                <div class="">
                                                    <div class="row h-100">
                                                        <div class="col">
                                                            <div
                                                                class="library-icon accent-4-bg d-flex justify-content-center align-items-center">
                                                                <i class="fa-solid fa-ghost"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <div class="row">
                                                        <a class="col ms-3 library-item align-items-center"
                                                            href="#">
                                                            <h5>Hook Collection</h5>
                                                            <p>Different types of hooks</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#">
                                                <div class="library-card-img d-flex align-items-center">
                                                    <img
                                                        src="https://www.artnews.com/wp-content/uploads/2020/11/AdobeStock_194900923.jpeg?w=1500">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end -->
    </section>

    <!--scrolltotop-->
    <button onclick="scrolltotop()" id="totop" title="Scroll to Top">
        <i class="fa-solid fa-arrow-up"></i>
    </button>

    <!--footer-->
    <footer class="py-4 footer-section">
        <p class="text-center footertext" id="footerfontcolor1">
            Reach out to us at dev.artisanai@gmail.com
            <i class="fa-solid fa-splotch footer-splotch"></i>
        </p>
    </footer>

    <!--scripts-->
    <script src="../js/include.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
    <script src="../js/back.js"></script>
    <script src="../js/totop.js"></script>
    <script src="../js/tooltips.js"></script>
    <script src="../js/toastshow.js"></script>

    <!-- start -->

    <!-- end -->
</body>

</html>